[project]
	description = Sample of a Spring/Hibernate project with XML configuration.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Allan Burdajewicz (Dohbedoh)
[access "refs/for/refs/*"]
	read = group user/Allan Burdajewicz (Dohbedoh)
	push = group user/Allan Burdajewicz (Dohbedoh)
	label-Code-Review = -2..+2 group user/Allan Burdajewicz (Dohbedoh)
	label-Verified = -1..+1 group user/Allan Burdajewicz (Dohbedoh)
	rebase = group user/Allan Burdajewicz (Dohbedoh)
	removeReviewer = group user/Allan Burdajewicz (Dohbedoh)
	submit = group user/Allan Burdajewicz (Dohbedoh)
[access "refs/heads/*"]
	read = group user/Allan Burdajewicz (Dohbedoh)
	create = group user/Allan Burdajewicz (Dohbedoh)
	push = +force group user/Allan Burdajewicz (Dohbedoh)
	pushMerge = group user/Allan Burdajewicz (Dohbedoh)
[access "refs/tags/*"]
	push = +force group user/Allan Burdajewicz (Dohbedoh)
	pushTag = group user/Allan Burdajewicz (Dohbedoh)
	pushSignedTag = group user/Allan Burdajewicz (Dohbedoh)
